@CHARSET "utf-8";

.table th, .table td {
  border-top: none !important; 
}

.input-custom {
  margin-bottom: 5px;
}

.alert-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  position: relative;
  z-index: 99999;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
}